{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-3">
        <div class="col-2">
            <a href="{{ path('user_list') }}" class=" w-100 btn btn-primary btn-sm">Utilisateurs</a>
        </div>
    </div>
</div>
{% endblock %}
