<div>
    <p class="profil-font-size">Identifiant : {{ user.username}}</p>
    <p class="profil-font-size">Nom : {{ user.firstName ~ " " ~ user.lastName}}</p>
    <p class="profil-font-size">Email : {{ user.email }}</p>
    <p class="profil-font-size">Téléphone : {{ user.phoneNumber }}</p>
</div>