{% extends 'base.html.twig' %}

{% block title %}Modification utilisateur{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7 mt-4 mb-4">
                <div class="row align-items-center mb-4">
                    <div class="col-8">
                        <h1>Modification mot de passe</h1>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary" href="{{ path('user_profil', {'id': user.id }) }}" role="button">Profil</a>
                    </div>
                </div>
                <div class="row">
            <div class="col-12 mb-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
